TriangleTest/TriangleTest/Service References/ServiceReference1/Polygon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Polygon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Polygon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RightAngletriangle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AShape">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" type="xs:int" />
          <xs:element minOccurs="0" name="Width" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RightAngletriangle" nillable="true" type="tns:RightAngletriangle" />
  <xs:complexType name="AShape">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AShape" nillable="true" type="tns:AShape" />
</xs:schema>